body {
    background-image: url("weather-images/default.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.weather-box {
    background-color: rgba(0, 0, 0, 0.63);
    height: 40%;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50px;
    color: rgb(233, 232, 232);
}

.todays-weather {
    display: flex;
    font-size: xx-large;
    text-decoration: underline;
    margin-top: 0px;
    margin-left: 7.5%;
}

.desc {
    font-size: xx-large;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBox {
    width: 50%;
    height: 24px;
    border-radius: 80px;
    color: black;
    padding-inline-start: 1%;
}

#button{
    width: 30px;
    height: 24px;
    border-radius: 20px;
    margin-left: 10px;
    background: #7c7c7c2b;
}

#button:hover{
    background: rgba(150, 148, 148, 0.349);
    border: 1px solid white;
}

.displayWeather, .weather-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}

.displayWeather{
    flex-direction: column;
    float: left;
    margin-left: 20%;
    margin-top: 5%;
    font-family: 'Raleway', sans-serif;
}

.weather-icon{
    background-color: rgba(212, 212, 212, 0.733);
    flex-direction: column;
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 30px;
    margin-right: 20%;
    margin-top: 10%
    
}